Molecules are small groups of atoms bound together to create the components. These are the backbone of our design system. Things to get into this pattern library:

<div class="row">
  <div class="row__col pad">
    <h2>Accessible Molecules</h2>
    <ul>
      <li class="check-mark-li">form</li>
      <li>accordion</li>
      <li>slick slider</li>
      <li>main navigation with dropdowns</li>
    </ul>
  </div>
</div>