<fieldset class="form__fieldset">
	<legend class="form__legend">Checkbox Legend</legend>
	{{> atoms-checkbox(id:"form__checkbox-input-0", name:"{{form-name}}", label:"checkbox 0") }}
	{{> atoms-checkbox(id:"form__checkbox-input-1", name:"{{form-name}}", label:"checkbox 1") }}
	{{> atoms-checkbox(id:"form__checkbox-input-2", name:"{{form-name}}", label:"checkbox 2") }}
</fieldset>