<fieldset class="form__fieldset">
  <legend class="form__legend">Radio Button Legend</legend>
  {{> atoms-radio(id:"form__radio-input-0", name:"{{form-name}}", label:"radio 0") }} {{> atoms-radio(id:"form__radio-input-1", name:"{{form-name}}", label:"radio 1") }} {{> atoms-radio(id:"form__radio-input-2", name:"{{form-name}}", label:"radio 2") }}
</fieldset>