<ul class="js-slider">
    <li>
        {{> atoms-image(alt: "image one") }}
    </li>
    <li>
        {{> atoms-image(alt: "image two") }}
    </li>
    <li>
        {{> atoms-image(alt: "image three") }}
    </li>
</ul>

<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.min.js"></script>