Atoms are essentially the individual html elements. Most of these are not too useful by themselves, except maybe for user entered content.

<div class="row">
  <div class="row__col pad">
    <h2>Accessible Atoms to add to library</h2>
    <ul>
      <li class="check-mark-li">text input</li>
      <li>textarea input</li>
      <li>select</li>
      <li>checkbox input</li>
      <li>radio button input</li>
      <li>submit button</li>
    </ul>
  </div>
</div>