<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #2999d6;"></span>
		<span class="sg-label">
			$delphic-blue <br />
			#2999d6
		</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
			$white <br />
			#ffffff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cccccc;"></span>
		<span class="sg-label">
			$gray-xlt <br />
			#cccccc
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999999;"></span>
		<span class="sg-label">
			$gray-lt <br />
			#999999
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">
			$gray <br />
			#666666
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">
			$gray-dk <br />
			#333333
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">
			$black <br />
			#000000
		</span>
	</li>
</ul>