  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
  <script src="/js/sandwich.js"></script>
  </body>
</html>
